* { box-sizing: border-box; }
html, body { background-color: #eeeeee;color: #4F4F4F;width: 100%;height: 100%;overflow: hidden; }
html, body, div, h3, td, p, span, img, a { font-size: 14px;font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;margin: 0;padding: 0;color: #4F4F4F; }

.status { border-radius: 20px!important;padding: 0 8px 0 8px;font-size: 12px;height: 20px;flex: 0 0 auto;align-items: center;display: flex; }
.to_do { color: #f0a100;border: solid 1px #f0a100; }
.in_progress { color: #338fe5;border: solid 1px #338fe5; }
.done { color: #24b47e;border: solid 1px #24b47e; }

.rightMain .table th div{ text-align: left;font-size: 12px; }
.rightMain .table thead th { border-bottom: 0; }
.rightMain .table th,.rightMain .table td { padding: 0 10px 0 10px;height: 34px;vertical-align: middle;white-space: nowrap; }
.rightMain .table-striped tbody tr:nth-of-type(odd) { background-color: #fbfcfd; }
.rightMain .table-striped tbody tr:nth-of-type(even) { background-color: #ffffff; }

div.table { flex: 1;display: flex;flex-direction: column;border-left: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8; }
div.table-row-header { flex: 0 0 auto;display: flex;border-bottom: 1px solid #e8e8e8;border-top: 1px solid #e8e8e8;background-color: #f8f8f8;font-weight: bolder; }
div.table-row { flex: 0 1 auto;display: flex;border-bottom: 1px solid #e8e8e8; }
div.table-row:hover { background-color: #f8f8f8; }
div.table .th { width: 100px;padding: 10px 0 10px 20px;font-size: 12px;flex: 1 1 auto; }
div.table .td { width: 100px;padding: 10px 0 10px 20px;flex: 1 1 auto; }
div.table .op { flex: 0 0 100px; }
div.table .op-big { flex: 0 0 120px; }
div.table .op-big a, .table .op-big span { color: #337ab7;padding-right: 10px;outline: none;text-decoration: none; }

a { text-decoration: none!important; }
a:link { color: #4F4F4F;text-decoration: none!important; }
a:visited { color: #4F4F4F;text-decoration: none!important;; }
a:active { color: #4F4F4F;text-decoration: none!important;; }
a:hover { color: #4F4F4F;text-decoration: none!important; }

#app, #app > div {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}

.left-header {
    color: #ffffff;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    height: 40px;
    /*overflow: hidden;*/
}

.app-header {
    background: #fff;
    color: #606060;
    /*padding-right: 10px;*/
    min-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    position: relative;
    z-index: 1;
    height:48px;
}

/*.layout-container-column {*/
/*    display: -webkit-flex;*/
/*    display: flex;*/
/*    -webkit-flex-direction: column;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*    !*max-height: 100%;*!*/
/*    -webkit-flex: 1 1 auto;*/
/*    flex: 1 1 auto;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*}*/

.project-main-container { height: 100%;-webkit-flex: 1 1 auto;flex: 1 1 auto;width: auto;min-width: 0;overflow: auto; }

.app-main-container {
    height: 100%;
    overflow: auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
    min-width: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.app-main-content {
    margin: 10px;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    min-width: 666px;
    box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2);
    box-sizing: border-box;
    /*padding: 20px;*/
    border-radius: 3px;
    background: #fff;
}

.app-main-no-border { -webkit-flex: 1 0 auto;flex: 1 0 auto;min-width: 666px;box-sizing: border-box;padding: 20px 20px 20px 0;min-height: 100%; }
.app-row { display: -webkit-flex;display: flex;-webkit-flex-direction: row;flex-direction: row;height: 100%;min-width: 1024px;min-height: 300px; }
.app-column { display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;height: 100%;width: 100%; }

.form-group label { font-size: 15px; }
.form-group label:after { content: "*";color: #ff0000; }

.table td a { display: block;height: 33px;line-height: 33px; }
.rightMain { background: #f8f8f8;display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;height: 100%;-webkit-flex: 1 1 auto;flex: 1 1 auto;position: relative;min-width: 1024px; }
/*.rightMain:after { clear: both;content: ".";display: block;height: 0;visibility: hidden; }*/

.leftBar { height: 100%;width: 230px;flex: 0 0 auto;background: #2c2f31;flex-direction: column;display: flex;box-sizing: border-box;display: -webkit-flex;-webkit-flex-direction: column;z-index: 11; }
.leftBar ul { list-style: none;margin: 0;padding: 0; }
.leftBar ul li { display: list-item;text-align: -webkit-match-parent; }
.leftBar ul li > div { padding-left: 20px; }
.leftBar li.active > div { padding-left: 17px; }
.leftBar ul li a { position: relative;display: block;height: 36px;line-height: 36px;color: #b4bcc8;text-decoration: none; }
.leftBar li.active { border-left: 3px solid #ffffff;background-color: #444444; }
.leftBar li:hover { background-color: #444444; }
.leftBar li.active a { color:#eeeeee;text-decoration: none; }
.leftBar li.active a:after { content: "";position: absolute;right: -1px;top: 50%;margin-top: -10px;width: 0;height: 0;overflow: hidden;border-style: solid;border-width: 10px;border-color: transparent #f8f8f8 transparent transparent; }
.leftBar ul li span { display: block;margin: 14px 0 15px 0;border-bottom: 1px solid #555555; }

.teamDepartment {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
}

.teamDepartmentTree {
    min-height: 100%;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.left-team-tree {
    flex: 0 0 298px;
    box-sizing: border-box;
    margin: 0 10px 0 0;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2);
    border-radius: 3px;
    height: 100%;
}

.right-member-list {
    -webkit-flex: 1;
    flex: 1;
    box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2);
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    padding: 20px;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
}

.ui-table {
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.member-left {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.memberList {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.memberList .ui-table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    z-index: 0;
}
.memberList .ui-table table { border-bottom: 1px solid #dee2e6;border-top: none; }
.app-main-center { margin: 20px;-webkit-flex: 1 0 auto;flex: 1 0 auto;max-width: 100%;box-sizing: border-box;width: 1000px;background-color: #ffffff;box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2); }