html, body {
    background-color: #eeeeee;
    margin: 0;
    font-size: 12px;
    color: #333333;
    font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html, body, div, h3, th, td, p, span, img, a, .table td, .table th, .table thead tr th {
    font-size: 12px;
    font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #e47911;
    text-decoration: none;
}

#app, #app > div {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}

.left-header {
    color: #ffffff;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
}

.app-header {
    background: #fff;
    color: #606060;
    padding-right: 20px;
    min-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 #d3d3d3;
    position: relative;
    z-index: 1;
    height:48px;
}

/*#main {*/
/*    margin: 0 auto 0 auto;*/
/*    max-width: 1200px;*/
/*    background-color: #ffffff;*/
/*    overflow: hidden;*/
/*    min-height: 700px;*/
/*}*/

.app-main-container {
    height: 100%;
    overflow: auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
    min-width: 0;
    margin-left: -4px;
    padding-left: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.app-main-content {
    margin: 10px;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    min-width: 666px;
    box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}

.app-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
    min-width: 1280px;
    min-height: 600px;
}

.leftBar {
    height: 100%;
    width: 235px;
    flex: 0 0 auto;
    background: #2c2f31;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.rightMain {
    background: #f8f8f8;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    display: flex;
}

.leftBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftBar ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.leftBar ul li a {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #b4bcc8;
}

.leftBar li.active a {
    color:#eeeeee;
    background-color: #17C4BB;
    border-left: 5px solid #ff0000;
    padding-left: 25px;
}

.leftBar li.active a:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -10px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #eeeeee transparent transparent;
}

.rightMain:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.leftBar ul li span {
    display: block;
    margin: 14px 0 15px 0;
    border-bottom: 1px solid #555555;
}

.table th {
    text-align: center;
}

.hd-button { color:#ffffff;padding:3px 20px 3px 20px;background-color: #36c6d3;font-size:14px;border-radius:10px;border: 1px solid #2bb8c4;float:right; }

/*div#list .ck-editor__main .ck-content {*/
/*    min-height: 594px;*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*}*/

/*div#list .ck-editor__main .ck-content div,*/
/*div#list .ck-editor__main .ck-content span,*/
/*div#list .ck-editor__main .ck-content td,*/
/*div#list .ck-editor__main .ck-content p,*/
/*div#list .ck-editor__main .ck-content ul,*/
/*div#list .ck-editor__main .ck-content ol,*/
/*div#list .ck-editor__main .ck-content th,*/
/*div#list .ck-editor__main .ck-content a,*/
/*div#list .ck-editor__main .ck-content tr,*/
/*div#list .ck-editor__main .ck-content pre,*/
/*div#list .ck-editor__main .ck-content code,*/
/*div#list .ck-editor__main .ck-content label,*/
/*div#list .ck-editor__main .ck-content input*/
/*{*/
/*    font-size: 14px;*/
/*}*/

/*div#list .ck-editor__main .ck-content input*/
/*{*/
/*    margin-top: -3px;*/
/*}*/

/*div#list .ck-content .todo-list li,*/
/*div#list .ck-editor__main .ck-content label {*/
/*    margin-bottom: 0;*/
/*}*/

/*div#list .ck-editor__main .ck-content pre code {*/
/*    border: 0;*/
/*    box-shadow: 0 1px 4px transparent;*/
/*}*/

/*.ck ul, .ck ol {*/
/*    padding-left: 20px;*/
/*    margin-left: 20px;*/
/*}*/

/*ul, ul.shu li {*/
/*    list-style: disc;*/
/*}*/

/*div#list .ck-content pre {*/
/*    background-color: #f9f9f9;*/
/*    border: 1px solid #eeeeee;*/
/*}*/

a.logo {
    font-size: 22px !important;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 3px;
    margin: 0 0 0 0;
    text-align: center;
}