.g-container { background-color: #fff;box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2);border-radius: 3px; }
.right-container { padding: 10px;-webkit-flex: 0 0 auto;flex: 0 0 auto;min-width: 666px;width: 100%;border-radius: 3px;flex-direction: column;display: flex;min-height: 100%; }
.right-container-inner { background-color: #fff;box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2);flex-direction: column;display: flex;min-height: 100%;width: 100%; }
.header-container-inner { background-color: #fff;box-shadow: 0 4px 6px 0 rgba(31,31,31,0.05), 0 0 2px 0 rgba(31,31,31,0.2); }

.border { border: 1px solid #e8e8e8; }
.flex { display: -webkit-flex;display: flex; }
.flex-row { display: -webkit-flex;display: flex;-webkit-flex-direction: row;flex-direction: row; }
.flex-column { display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column; }
.align-items-center { -webkit-align-items: center;align-items: center; }
.justify-content-center { justify-content: center;-webkit-justify-content: center; }

/*bootstrap 样式重写*/
.rightMain .table-bordered { border: 1px solid #e7ecf1; }
.rightMain button, .modal-dialog button { box-shadow: none !important;outline: none !important; }
.com-outline .dropdown button { font-size: 16px; }
.popover .popover-body { padding: 0; }
.b-sidebar-header strong { font-size: 1rem;font-weight: bold; }

div input,div textarea { box-shadow: none!important; }
.form-group label { font-size: 15px; }
.form-group.required label:after { content: "*";color: #ff0000; }