.right-container { padding: 10px;-webkit-flex: 0 0 auto;flex: 0 0 auto;min-width: 666px;width: 100%;border-radius: 3px;flex-direction: column;display: flex;min-height: 100%; }
.right-container-inner { flex-direction: column;display: flex;min-height: 100%;width: 100%; }

.border { border: 1px solid #e8e8e8; }
.i-table .bbox { border: 1px solid #eef2f7 !important; }
.flex { display: -webkit-flex;display: flex; }
.flex-row { display: -webkit-flex;display: flex;-webkit-flex-direction: row;flex-direction: row; }
.flex-column { display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column; }
.align-items-center { -webkit-align-items: center;align-items: center; }
.justify-content-center { justify-content: center;-webkit-justify-content: center; }
.align-items-flex-end { -webkit-align-items: flex-end;align-items: flex-end; }
.justify-content-flex-end { justify-content: flex-end;-webkit-justify-content: flex-end; }
.flex-wrap { flex-wrap: wrap;-webkit-flex-wrap: wrap; }

/*bootstrap 样式重写*/
.rightMain .table-bordered { border: 1px solid #e7ecf1; }
.rightMain button, .modal-dialog button { box-shadow: none !important;outline: none !important; }
.com-outline .dropdown button { font-size: 16px; }
.popover .popover-body { padding: 0; }
.b-sidebar-header strong { font-size: 1rem;font-weight: bold; }

div input,div textarea { box-shadow: none!important; }
.form-group label { font-size: 15px; }
.form-group.required label:after { content: "*";color: #ff0000; }

#toolbarContainer .fr-separator.fr-vs { margin: 4px; }
#toolbarContainer .fr-toolbar .fr-command.fr-btn, #toolbarContainer .fr-popup .fr-command.fr-btn, #toolbarContainer .fr-modal .fr-command.fr-btn { margin: 0 2px;color: #666666; }
#toolbarContainer .fr-toolbar .fr-btn-grp { margin: 0; }
#toolbarContainer .fr-toolbar { background: inherit;border: none; }
#toolbarContainer .fr-toolbar .fr-newline { margin: 0;height: 0; }
#scrollable_container .fr-box,.fr-wrapper { flex: 1;flex-direction: column;display: flex; }
#scrollable_container .fr-element.fr-view { margin: 0 30px 20px 30px;padding: 10px 30px 20px 30px;height: 1200px; }
#scrollable_container .fr-second-toolbar { flex: 0 0 auto; }
#toolbarContainer > div { display: block!important; }

#article table,#article th,#article td { border: 1px solid #e8e8e8; }
#article td { line-height: 30px;padding: 0 5px; }
#scrollable_container .fr-box.fr-inline > .fr-wrapper > div:not(.fr-element) { display: none; }
#scrollable_container .fr-box.fr-inline > .fr-wrapper > div:not(.fr-view) { display: none; }
.modal-dialog .btn { padding: 3px 15px; }